.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category__title {
  margin: 0;
  padding: 0;
  font-family: "NeueMachina", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: @textColor;
  flex-basis: 100%;

  @media (min-width: @xs-width) {
    font-size: 36px;
    line-height: 41px;
    padding-left: 5px;
  }

  @media (min-width: @sm-width) {
    padding-left: 0;
  }

  @media (min-width: @md-width) {
    font-size: 50px;
    line-height: 57px;
    order: 1;
    flex-basis: auto;
  }
}

.category__filters-block {
  display: none;
  order: 3;
  width: 100%;
}

.category__filter {
  display: block;
  margin: 20px 0 0 0;
  padding: 15px 0 15px 70px;
  font-family: "GothamPro", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: @textColor;
  text-decoration: none;
  position: relative;

  @media (min-width: @xs-width) {
    margin: 37px 0 0 4px;
  }

  @media (min-width: @sm-width) {
    margin: 37px 0 0 0;
  }

  @media (min-width: @md-width) {
    margin: 23px 0 0 0;
    order: 3;
    flex-basis: 100%;
  }

  @media (min-width: @bg-width) {
    display: none;
  }
}

.category__filter::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 55px;
  height: 55px;
  margin: -27.5px 0 0 0;
  background-color: @bgMenu;
  background-image: url("../img/filters.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.category__search {
  margin: 20px 0 0 0;

  @media (min-width: @xs-width) {
    margin: 33px 4px 0 0;
  }

  @media (min-width: @sm-width) {
    margin: 33px 0 0 0;
  }

  @media (min-width: @md-width) {
    order: 2;
    margin: 2px 0 0 0;
  }

  @media (min-width: @gg-width) {
    margin: 7px 0 0 0;
  }
}
