.footer {
  padding: 0 0 35px 0;

  @media (min-width: @xs-width) {
    padding: 0 0 58px 0;
  }

  @media (min-width: @md-width) {
    padding: 0 0 46px 0;
  }

  @media (min-width: @bg-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__container {
  @media (min-width: @bg-width) {
    order: 2;
    width: 50%;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: @xs-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @md-width) {
    justify-content: flex-start;
  }

  @media (min-width: @bg-width) {
    flex-direction: column;
  }
}

.footer__title {
  margin: 0;
  padding: 0;
  font-family: "NeueMachina", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @textColor;

  @media (min-width: @sm-width) {
    font-size: 24px;
    line-height: 28px;
  }
}

.footer__title:not(:first-child) {
  margin: 32px 0 0 0;
}

.footer__wrapper-contacts,
.footer__wrapper-address,
.footer__wrapper-data-time {
  box-sizing: border-box;

  @media (min-width: @xs-width) {
    width: 50%;
  }

  @media (min-width: @md-width) {
    width: auto;
  }

  @media (min-width: @bg-width) {
    width: 100%;
  }
}

.footer__wrapper-address {
  margin: 33px 0 0 0;

  @media (min-width: @xs-width) {
    order: 1;
    margin-top: 0;
  }

  @media (min-width: @md-width) {
    margin-top: 0;
    margin-right: 13px;
    width: 290px;
  }
}

.footer__wrapper-data-time {
  margin: 37px 0 0 0;

  @media (min-width: @xs-width) {
    margin: 52px 0 0 0;
    order: 3;
    width: 100%;
  }

  @media (min-width: @sm-width) {
    margin: 43px 0 0 0;
  }

  @media (min-width: @md-width) {
    width: auto;
    margin-top: 0;
  }
}

.footer__wrapper-contacts {
  @media (min-width: @xs-width) {
    order: 2;
    margin-top: 0;
    padding-left: 15px;
  }

  @media (min-width: @md-width) {
    margin-right: 67px;
  }
}

.footer__phone,
.footer__email,
.footer__address,
.footer__date-time {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: @textColorThrough;
  text-decoration: none;
  display: block;
}

.footer__email {
  margin-top: 9px;
}

.footer__address {
  padding-right: 10px;
}

.footer__phone,
.footer__address,
.footer__date-time {
  margin: 12px 0 0 0;
}

.footer__date-time {
  display: flex;
  flex-direction: column;
}

.footer__map {
  display: block;
  margin-top: 40px;
  width: 100%;
  min-height: 483px;
  background-color: @headerColor;
  box-sizing: border-box;

  @media (min-width: @xs-width) {
    min-height: 450px;
  }

  @media (min-width: @sm-width) {
    margin-top: 35px;
    min-height: 597px;
  }

  @media (min-width: @md-width) {
    margin-top: 22px;
    min-height: 534px;
  }

  @media (min-width: @bg-width) {
    order: 1;
    width: 50%;
  }
}

.footer__wrapper-container {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0 0 0;

  @media (min-width: @xs-width) {
    margin: 51px 0 0 0;
  }

  @media (min-width: @sm-width) {
    margin: 56px 0 0 0;
  }

  @media (min-width: @md-width) {
    margin: 55px 0 0 0;
  }

  @media (min-width: @bg-width) {
    order: 3;
    width: 100%;
  }
}

.footer__menu-list {
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (min-width: @xs-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 33px 0;
  }

  @media (min-width: @sm-width) {
    padding: 0 30px 36px 0;
  }

  @media (min-width: @md-width) {
    padding-right: 269px;
    order: 1;
  }

  @media (min-width: @bg-width) {
    justify-content: flex-start;
  }
}

.footer__logo {
  display: block;
  margin: 46px 15px 0 0;

  @media (min-width: @xs-width) {
    margin: 44px 17px 0 0;
  }

  @media (min-width: @sm-width) {
    margin: 44px 11px 0 0;
  }

  @media (min-width: @md-width) {
    order: 2;
    margin: 44px 13px 0 0;
  }
}

.footer__item:not(:first-child) {
  margin: 10px 0 0 0;

  @media (min-width: @xs-width) {
    margin: 0;
  }

  @media (min-width: @bg-width) {
    margin-left: 80px;
  }
}

.footer__link {
  display: block;
  font-size: 16px;
  line-height: 27px;
  color: @textColor;
  text-decoration: none;

  @media (min-width: @sm-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.footer__logo-svg {
  @media (min-width: @xs-width) {
    width: 209px;
    height: 36px;
  }
}

.footer__logo-text {
  padding: 0 0 0 15px;
  margin: 44px 0 0 0;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  border-left: 1px solid rgba(255, 255, 255, 0.2);

  @media (min-width: @xs-width) {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 12px;
    margin: 33px 0 0 0;
  }

  @media (min-width: @md-width) {
    order: 3;
  }
}

.footer__policy {
  margin: 38px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: @textColor;
  text-decoration: none;

  @media (min-width: @xs-width) {
    margin: 31px 0 0 4px;
  }

  @media (min-width: @sm-width) {
    width: 100%;
    margin: 31px 0 0 0;
  }

  @media (min-width: @md-width) {
    order: 5;
    margin: 21px 0 0 0;
  }

  @media (min-width: @bg-width) {
    width: auto;
    order: 4;
  }

  @media (min-width: @bg-width) {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__wrapper-socials {
  width: 100%;
  margin: 34px 0 0 0;

  @media (min-width: @xs-width) {
    display: flex;
    margin: 31px 0 0 4px;
  }

  @media (min-width: @sm-width) {
    position: relative;
    margin: 33px 0 0 0;
  }

  @media (min-width: @md-width) {
    order: 4;
    width: auto;
    margin-left: auto;
  }

  @media (min-width: @bg-width) {
    order: 5;
    width: auto;
    margin-left: 0;
  }

  @media (min-width: @bg-width) {
    margin-left: auto;
  }
}

.footer__socials {
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @xs-width) {
    width: auto;
    align-items: center;
  }

  @media (min-width: @sm-width) {
    width: 55%;
    flex-grow: 0;
  }

  @media (min-width: @md-width) {
    width: 100%;
    margin-right: 32px;
  }
}

.footer__social-item {
  flex-grow: 1;
}

.footer__social-item:not(:last-child) {
  @media (min-width: @xs-width) {
    margin-right: 40px;
  }

  @media (min-width: @bg-width) {
    margin-right: 35px;
  }
}

.footer__social-item:first-child {
  @media (min-width: @xs-width) {
    margin-right: 33px;
  }

  @media (min-width: @md-width) {
    margin-right: 63px;
  }
}

.footer__social-link {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: @textColorThrough;
}

.footer__button-up {
  display: none;

  @media (min-width: @xs-width) {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: @textColor;
    margin: 0 4px 0 auto;
    background-color: transparent;
    border: none;
    padding: 0 50px 0 0;
  }

  @media (min-width: @sm-width) {
    position: absolute;
    top: -128px;
    right: 0;
    margin: 0;
  }

  @media (min-width: @md-width) {
    top: -95px;
  }
}

.footer__button-up::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 26px;
  height: 13px;
  background-image: url("../img/up.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: -7px 0 0 0;
}
