.footer {
  padding: 0 0 35px 0;

  @media (min-width: @xs-width) {
    padding: 0 0 58px 0;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;

  @media (min-width: @xs-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer__title {
  margin: 0;
  padding: 0;
  font-family: "NeueMachina", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @textColor;
}

.footer__title:not(:first-child) {
  margin: 32px 0 0 0;
}

.footer__wrapper-address,
.footer__wrapper-data-time {
  margin: 32px 0 0 0;
}

.footer__wrapper-contacts,
.footer__wrapper-address,
.footer__wrapper-data-time {
  @media (min-width: @xs-width) {
    width: 50%;
  }
}

.footer__wrapper-address {
  @media (min-width: @xs-width) {
    order: 1;
    margin-top: 0;
  }
}

.footer__wrapper-contacts {
  @media (min-width: @xs-width) {
    order: 2;
    margin-top: 0;
  }
}

.footer__wrapper-data-time {
  @media (min-width: @xs-width) {
    order: 3;
  }
}

.footer__phone,
.footer__email,
.footer__address,
.footer__date-time {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: @textColorThrough;
  text-decoration: none;
  display: block;
}

.footer__phone,
.footer__address,
.footer__date-time {
  margin: 10px 0 0 0;
}

.footer__date-time {
  display: flex;
  flex-direction: column;
}

.footer__wrapper-container {
  display: flex;
  flex-wrap: wrap;
}

.footer__menu-list {
  width: 100%;
  list-style-type: none;
  margin: 35px 0 0 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (min-width: @xs-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer__logo {
  display: block;
  margin: 41px 15px 0 0;
}

.footer__item:not(:first-child) {
  margin: 10px 0 0 0;

  @media (min-width: @xs-width) {
    margin: 0;
  }
}

.footer__link {
  display: block;
  font-size: 16px;
  line-height: 27px;
  color: @textColor;
  text-decoration: none;
}

.footer__logo-svg {
  @media (min-width: @xs-width) {
    width: 204px;
    height: 35px;
  }
}

.footer__logo-text {
  padding: 0 0 0 15px;
  margin: 41px 0 0 0;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  border-left: 1px solid rgba(255, 255, 255, 0.2);

  @media (min-width: @xs-width) {
    font-size: 14px;
    line-height: 18px;
  }
}

.footer__policy {
  margin: 40px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: @textColor;
  text-decoration: none;

  @media (min-width: @sm-width) {
    width: 100%;
  }
}

.footer__wrapper-socials {
  @media (min-width: @xs-width) {
    display: flex;
    width: 100%;
  }

  @media (min-width: @sm-width) {
    position: relative;
  }
}

.footer__socials {
  width: 100%;
  list-style-type: none;
  margin: 34px 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @xs-width) {
    flex-grow: 1;
    align-items: center;
  }

  @media (min-width: @sm-width) {
    width: 60%;
    flex-grow: 0;
  }
}

.footer__social-item {
  flex-grow: 1;
}

.footer__social-link {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: @textColorThrough;
}

.footer__button-up {
  display: none;

  @media (min-width: @xs-width) {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: @textColor;
    margin: 34px 0 0 0;
    background-color: transparent;
    border: none;
    padding: 0 45px 0 0;
  }

  @media (min-width: @sm-width) {
    position: absolute;
    top: -115px;
    right: 0;
    margin: 0;
  }
}

.footer__button-up::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 26px;
  height: 13px;
  background-image: url("../img/up.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: -7px 0 0 0;
}
