.footer {
  padding: 0 0 35px 0;

  @media (min-width: @xs-width) {
    padding: 0 0 58px 0;
  }

  @media (min-width: @md-width) {
    padding: 0 0 46px 0;
  }

  @media (min-width: @bg-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__container {
  @media (min-width: @bg-width) {
    order: 2;
    margin: 0;
    padding: 133px 60px 0 30px;
    flex-grow: 1;
  }

  @media (min-width: @gg-width) {
    padding: 120px 60px 0 33px;
  }
}

.footer__wrapper-container {
  display: flex;
  flex-wrap: wrap;
  margin: 35px 0 0 0;

  @media (min-width: @xs-width) {
    margin: 51px 0 0 0;
  }

  @media (min-width: @sm-width) {
    margin: 56px 0 0 0;
  }

  @media (min-width: @md-width) {
    margin: 55px 0 0 0;
  }

  @media (min-width: @bg-width) {
    order: 3;
    width: 100%;
    margin: 207px 0 0 0;
  }

  @media (min-width: @gg-width) {
    margin: 200px 0 0 0;
  }
}

.footer__menu-list {
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (min-width: @xs-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 33px 0;
  }

  @media (min-width: @sm-width) {
    padding: 0 30px 36px 0;
  }

  @media (min-width: @md-width) {
    padding-right: 269px;
    order: 1;
  }

  @media (min-width: @bg-width) {
    justify-content: flex-start;
    padding-left: 5px;
  }
}

.footer__logo {
  display: block;
  margin: 46px 15px 0 0;

  @media (min-width: @xs-width) {
    margin: 44px 17px 0 0;
  }

  @media (min-width: @sm-width) {
    margin: 44px 11px 0 0;
  }

  @media (min-width: @md-width) {
    order: 2;
    margin: 44px 13px 0 0;
  }

  @media (min-width: @bg-width) {
    margin: 45px 16px 0 0;
  }
}

.footer__item:not(:first-child) {
  margin: 10px 0 0 0;

  @media (min-width: @xs-width) {
    margin: 0;
  }

  @media (min-width: @bg-width) {
    margin-left: 80px;
  }
}

.footer__link {
  display: block;
  font-size: 16px;
  line-height: 27px;
  color: @textColor;
  text-decoration: none;

  @media (min-width: @sm-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.footer__logo-svg {
  @media (min-width: @xs-width) {
    width: 209px;
    height: 36px;
  }
}

.footer__logo-text {
  padding: 0 0 0 15px;
  margin: 44px 0 0 0;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  border-left: 1px solid rgba(255, 255, 255, 0.2);

  @media (min-width: @xs-width) {
    font-size: 14px;
    line-height: 18px;
    padding: 0 0 0 12px;
    margin: 33px 0 0 0;
  }

  @media (min-width: @md-width) {
    order: 3;
  }
}

.footer__policy {
  margin: 38px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: @textColor;
  text-decoration: none;

  @media (min-width: @xs-width) {
    margin: 31px 0 0 4px;
  }

  @media (min-width: @sm-width) {
    width: 100%;
    margin: 31px 0 0 0;
  }

  @media (min-width: @md-width) {
    order: 5;
    margin: 21px 0 0 0;
  }

  @media (min-width: @bg-width) {
    width: auto;
    order: 4;
  }

  @media (min-width: @bg-width) {
    margin: 49px auto 0 121px;
  }

  @media (min-width: @gg-width) {
    margin: 49px auto 0 361px;
  }
}

.footer__wrapper-socials {
  width: 100%;
  margin: 34px 0 0 0;

  @media (min-width: @xs-width) {
    display: flex;
    margin: 31px 0 0 4px;
  }

  @media (min-width: @sm-width) {
    position: relative;
    margin: 33px 0 0 0;
  }

  @media (min-width: @md-width) {
    order: 4;
    width: auto;
    margin-left: auto;
  }

  @media (min-width: @bg-width) {
    order: 5;
    width: auto;
    margin-left: 0;
  }

  @media (min-width: @bg-width) {
    margin-left: auto;
  }
}

.footer__socials {
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @xs-width) {
    width: auto;
    align-items: center;
  }

  @media (min-width: @sm-width) {
    width: 55%;
    flex-grow: 0;
  }

  @media (min-width: @md-width) {
    width: 100%;
    margin-right: 32px;
  }

  @media (min-width: @bg-width) {
    margin-right: 0;
  }
}

.footer__social-item {
  flex-grow: 1;
}

.footer__social-item:not(:last-child) {
  @media (min-width: @xs-width) {
    margin-right: 40px;
  }

  @media (min-width: @bg-width) {
    margin-right: 42px;
  }
}

.footer__social-item:first-child {
  @media (min-width: @xs-width) {
    margin-right: 33px;
  }

  @media (min-width: @md-width) {
    margin-right: 61px;
  }
}

.footer__social-link {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: @textColorThrough;
}

.footer__button-up {
  display: none;

  @media (min-width: @xs-width) {
    display: block;
    position: relative;
    font-size: 18px;
    line-height: 30px;
    color: @textColor;
    margin: 0 4px 0 auto;
    background-color: transparent;
    border: none;
    padding: 0 50px 0 0;
  }

  @media (min-width: @sm-width) {
    position: absolute;
    top: -128px;
    right: 0;
    margin: 0;
  }

  @media (min-width: @md-width) {
    top: -95px;
  }

  @media (min-width: @gg-width) {
    top: -91px;
    right: 5px;
  }
}

.footer__button-up::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 26px;
  height: 13px;
  background-image: url("../img/up.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: -7px 0 0 0;
}
