.header {
  padding-top: 61px;
  background-color: @headerColor;
}

.header__wrapper-container {
  display: flex;
  align-items: center;
}

.header__logo {
  flex-grow: 1;
}

.header__basket {
  margin-right: 35px;
}

.header__auth {
  color: transparent;
  margin-right: 35px;
}

.header__toggle {
  display: block;
  background-color: transparent;
  border: none;
}

.header__close-menu {
  display: block;
  background-color: transparent;
  border: none;
}

.header__close-menu--hide,
.header__toggle-svg--hide {
  display: none;
}
