.main {
  padding: 0;
}

.main__news {
  @media (min-width: @gg-width) {
    margin-top: -5px;
  }
}

.main__about {
  padding-top: 78px;

  @media (min-width: @xs-width) {
    padding-top: 98px;
  }

  @media (min-width: @md-width) {
    padding-top: 117px;
  }

  @media (min-width: @bg-width) {
    padding-top: 142px;
  }

  @media (min-width: @gg-width) {
    padding-top: 199px;
  }
}
