
.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 80px 0;

  @media (min-width: @xs-width) {
    padding: 0 0 100px 0;
  }
}

.news__wrapper-slider {
  width: 100%;
  overflow: hidden;
  display: flex;

  @media (min-width: @sm-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 31px 31px;
  }
}

.news__article {
  background-color: @bgMenu;
  margin: 20px 0 0 0;
  padding: 0 0 34px 0;
  min-width: 100%;

  @media (min-width: @xs-width) {
    margin: 40px 0 0 0;
    min-width: 328px;
    min-height: 685px;
  }
}

.news__article:not(:last-child) {
  @media (min-width: @xs-width) {
    margin-right: 31px;
  }

  @media (min-width: @sm-width) {
    margin-right: 0;
  }
}

.news__img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.news__title {
  font-family: "NeueMachina", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: @textColor;
  margin: 0;
  padding: 0;

  @media (min-width: @xs-width) {
    font-size: 30px;
    line-height: 34px;
  }
}

.news__article-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: @textColor;
  margin: 18px 0 0 0;
  padding: 0 17px 0 25px;
}

.news__article-description {
  margin: 11px 0 0 0;
  padding: 0 17px 0 25px;
  line-height: 21px;
  color: @textColorThrough;
}

.news__article_more {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  color: @textColor;
  text-decoration: none;
  padding: 23px 71px;
  margin: 12px 0 0 25px;
  background-color: @bgColor;
}

.news__all-news {
  display: inline-block;
  font-size: 16px;
  line-height: 27px;
  color: @textColor;
  text-decoration: none;
  margin: 13px 0 0 0;
  padding: 22px 16px;
  background-color: @bgMenu;

  @media (min-width: @xs-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 40px 90px 40px 26px;
    position: relative;
    margin-top: 33px;
  }

  @media (min-width: @sm-width) {
    margin: 33px auto 0 auto;
  }
}

.news__all-news::after {
  @media (min-width: @xs-width) {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 43px;
    height: 8px;
    margin: -4px 0 0 0;
    background-image: url("../img/after-button.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.news__button-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 13px 0 0 0;

  @media (min-width: @xs-width) {
    margin-top: 30px;
  }

  @media (min-width: @sm-width) {
    display: none;
  }
}

.news__button-item:first-child {
  margin-right: 1px;
}

.news__button {
  width: 79px;
  height: 66px;
  background-color: @bgMenu;
  display: block;
  border: none;

  @media (min-width: @xs-width) {
    width: 120px;
    height: 103px;
  }
}

.news__prev,
.news__next {
  background-repeat: no-repeat;
  background-position: center;
}

.news__prev {
  background-image: url("../img/prev.svg");
}

.news__next {
  background-image: url("../img/next.svg");
}
