
.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 80px 0;

  @media (min-width: @xs-width) {
    padding: 0 0 94px 0;
  }

  @media (min-width: @sm-width) {
    padding: 0 0 118px 0;
  }
}

.news__wrapper-slider {
  width: 100%;
  overflow: hidden;
  display: flex;
  margin: 23px 0 0 0;

  @media (min-width: @xs-width) {
    margin: 43px 0 0 0;
    padding-left: 5px;
  }

  @media (min-width: @sm-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 31px 31px;
    padding-left: 0;
  }

  @media (min-width: @md-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.news__article {
  background-color: @bgMenu;
  margin: 0;
  padding: 0 0 34px 0;
  min-width: 100%;
  box-sizing: border-box;

  @media (min-width: @xs-width) {
    min-width: 328px;
    min-height: 685px;
    padding: 0;
  }

  @media (min-width: @sm-width) {
    padding-bottom: 30px;
  }
}

.news__article:not(:last-child) {
  @media (min-width: @xs-width) {
    margin-right: 31px;
  }

  @media (min-width: @sm-width) {
    margin-right: 0;
  }
}

.news__img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;

  @media (min-width: @xs-width) {
    min-height: 344px;
  }

  @media (min-width: @sm-width) {
    min-height: 332px;
  }
}

.news__title {
  font-family: "NeueMachina", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: @textColor;
  margin: 0;
  padding: 0;

  @media (min-width: @xs-width) {
    font-size: 30px;
    line-height: 34px;
    padding-left: 5px;
  }

  @media (min-width: @sm-width) {
    font-size: 36px;
    line-height: 41px;
    padding-left: 0;
  }
}

.news__article-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: @textColor;
  margin: 17px 0 0 0;
  padding: 0 45px 0 25px;
}

.news__article-description {
  margin: 11px 0 0 0;
  padding: 0 17px 0 25px;
  line-height: 21px;
  color: @textColorThrough;

  @media (min-width: @sm-width) {
    padding: 0 25px;
  }
}

.news__article_more {
  display: inline-block;
  font-size: 18px;
  line-height: 17px;
  color: @textColor;
  text-decoration: none;
  padding: 29px 71px;
  margin: 11px 0 0 25px;
  background-color: @bgColor;

  @media (min-width: @sm-width) {
    margin: 43px 0 0 25px;
  }
}

.news__all-news {
  display: inline-block;
  font-size: 16px;
  line-height: 27px;
  color: @textColor;
  text-decoration: none;
  margin: 13px 0 0 0;
  padding: 19px 27px;
  background-color: @bgMenu;

  @media (min-width: @xs-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 34px 93px 38px 31px;
    position: relative;
    margin-top: 34px;
    margin-left: 5px;
  }

  @media (min-width: @sm-width) {
    margin: 50px auto 0 calc(50% - 146px);
    padding: 31px 108px 31px 48px;
  }
}

.news__all-news::after {
  @media (min-width: @xs-width) {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 43px;
    height: 8px;
    margin: -4px 0 0 0;
    background-image: url("../img/after-button.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: @sm-width) {
    right: 40px;
  }
}

.news__button-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 13px 0 0 0;

  @media (min-width: @xs-width) {
    margin-top: 30px;
    margin-right: 5px;
  }

  @media (min-width: @sm-width) {
    display: none;
  }
}

.news__button-item:first-child {
  margin-right: 1px;
}

.news__button {
  width: 79px;
  height: 66px;
  background-color: @bgMenu;
  display: block;
  border: none;

  @media (min-width: @xs-width) {
    width: 118px;
    height: 103px;
  }
}

.news__prev,
.news__next {
  background-repeat: no-repeat;
  background-position: center;
}

.news__prev {
  background-image: url("../img/prev.svg");

  @media (min-width: @xs-width) {
    background-image: url("../img/prev600.svg");
  }
}

.news__next {
  background-image: url("../img/next.svg");

  @media (min-width: @xs-width) {
    background-image: url("../img/next600.svg");
  }
}
