.personal-data__title {
  margin: 0;
  padding: 0;
  width: 233px;
  font-family: "NeueMachina", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: @textColor;

  @media (min-width: @xs-width) {
    font-size: 30px;
    line-height: 34px;
    padding-left: 5px;
    width: auto;
  }

  @media (min-width: @gg-width) {
    font-size: 36px;
    line-height: 41px;
  }
}

.personal-data__form {
  margin: 51px 0 0 0;

  @media (min-width: @xs-width) {
    margin-top: 59px;
    padding-left: 5px;
  }

  @media (min-width: @bg-width) {
    margin-top: 91px;
  }

  @media (min-width: @gg-width) {
    margin-top: 108px;
  }
}

.personal-data__form .personal-data__title {
  @media (min-width: @xs-width) {
    padding-left: 0;
  }
}

.personal-data__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.personal-data__fieldset--data {
  margin: 44px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @xs-width) {
    margin-top: 29px;
    justify-content: flex-start;
  }

  @media (min-width: @sm-width) {
    margin-top: 39px;
  }

  @media (min-width: @md-width) {
    margin-top: 25px;
  }

  @media (min-width: @bg-width) {
    margin-top: 34px;
  }
}

.personal-data__fieldset--data .personal-data__break {
  @media (min-width: @gg-width) {
    display: block;
  }
}

.personal-data__fieldset--address {
  margin: 57px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @xs-width) {
    justify-content: flex-start;
  }

  @media (min-width: @sm-width) {
    margin-top: 36px;
  }

  @media (min-width: @md-width) {
    margin-top: 65px;
  }

  @media (min-width: @bg-width) {
    margin-top: 54px;
  }
}

.personal-data__fieldset--password {
  margin: 60px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @sm-width) {
    margin-top: 64px;
  }

  @media (min-width: @bg-width) {
    margin-top: 57px;
  }
}

.personal-data__fieldset--password .personal-data__title {
  width: auto;
  margin-right: 22px;
}

.personal-data__fieldset--password .personal-data__change-link {
  @media (min-width: @sm-width) {
    margin-left: 0;
  }
}

.personal-data__wrapper-avatar {
  position: relative;
  display: flex;
  align-items: center;
}

.personal-data__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 30px 0 0 0;
  color: rgba(255, 255, 255, 0.3);

  @media (min-width: @xs-width) {
    margin-top: 37px;
  }

  @media (min-width: @sm-width) {
    width: 47%;
    margin-top: 39px;
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: @md-width) {
    width: 234px;
  }

  @media (min-width: @bg-width) {
    width: 270px;
  }

  @media (min-width: @gg-width) {
    margin-top: 31px;
  }
}

.personal-data__label--surname {
  margin-top: 29px;

  @media (min-width: @xs-width) {
    margin-top: 26px;
  }

  @media (min-width: @sm-width) {
    margin-left: auto;
    margin-top: 38px;
  }

  @media (min-width: @md-width) {
    margin-left: 30px;
  }

  @media (min-width: @bg-width) {
    margin-left: 17px;
  }

  @media (min-width: @gg-width) {
    margin-top: 31px;
    margin-left: 32px;
  }
}

.personal-data__label--patronymic {
  @media (min-width: @xs-width) {
    margin-top: 26px;
  }

  @media (min-width: @sm-width) {
    width: 100%;
    margin-top: 30px;
    padding-right: 53%;
  }

  @media (min-width: @md-width) {
    width: 234px;
  }

  @media (min-width: @bg-width) {
    padding-right: 0;
    margin-top: 38px;
    margin-left: 17px;
  }

  @media (min-width: @gg-width) {
    margin-top: 31px;
    margin-left: 32px;
  }
}

.personal-data__label--phone {
  margin-top: 28px;

  @media (min-width: @bg-width) {
    margin-top: 38px;
  }
}

.personal-data__label--email {
  margin-top: 30px;

  @media (min-width: @xs-width) {
    margin-top: 25px;
  }

  @media (min-width: @sm-width) {
    margin-left: auto;
    margin-top: 28px;
  }

  @media (min-width: @md-width) {
    margin-left: 30px;
  }

  @media (min-width: @bg-width) {
    margin-left: 17px;
    margin-top: 38px;
  }

  @media (min-width: @gg-width) {
    margin-top: 38px;
    margin-left: 32px;
  }
}

.personal-data__label--country {
  @media (min-width: @sm-width) {
    margin-top: 49px;
  }

  @media (min-width: @gg-width) {
    margin-top: 41px;
  }
}

.personal-data__label--city {
  margin-top: 27px;

  @media (min-width: @sm-width) {
    margin-top: 49px;
    margin-left: auto;
  }

  @media (min-width: @md-width) {
    margin-left: 30px;
  }

  @media (min-width: @bg-width) {
    margin-left: 17px;
  }

  @media (min-width: @gg-width) {
    margin-top: 41px;
    margin-left: 32px;
  }
}

.personal-data__label--region {
  @media (min-width: @xs-width) {
    margin-top: 25px;
  }

  @media (min-width: @sm-width) {
    margin-top: 29px;
  }

  @media (min-width: @bg-width) {
    margin-top: 49px;
    margin-left: 17px;
  }

  @media (min-width: @gg-width) {
    margin-top: 41px;
    margin-left: 32px;
  }
}

.personal-data__label--home {
  @media (min-width: @xs-width) {
    margin-top: 26px;
  }

  @media (min-width: @sm-width) {
    margin-left: auto;
    margin-top: 29px;
  }

  @media (min-width: @md-width) {
    margin-left: 30px;
  }

  @media (min-width: @bg-width) {
    margin-left: 0;
    margin-top: 40px;
  }

  @media (min-width: @gg-width) {
    margin-top: 41px;
    margin-left: 32px;
  }
}

.personal-data__label--id {
  @media (min-width: @xs-width) {
    margin-top: 26px;
  }

  @media (min-width: @sm-width) {
    margin-top: 29px;
  }

  @media (min-width: @bg-width) {
    margin-top: 40px;
    margin-left: 17px;
  }

  @media (min-width: @gg-width) {
    margin-left: 0;
    margin-top: 43px;
  }
}

.personal-data__input {
  font-size: 18px;
  line-height: 30px;
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0 0 5px 0;
  margin: 5px 0 0 0;

  @media (min-width: @sm-width) {
    padding-bottom: 2px;
  }
}

.personal-data__input--surname {
  margin-top: 4px;
  padding-bottom: 3px;
}

.personal-data__input--patronymic {
  padding-bottom: 1px;
}

.personal-data__input--phone {
  padding-bottom: 4px;
}

.personal-data__input--email {
  padding-bottom: 3px;
}

.personal-data__input--city {
  padding-bottom: 4px;

  @media (min-width: @sm-width) {
    padding-bottom: 2px;
  }
}

.personal-data__input--region {
  padding-bottom: 2px;
}

.personal-data__input--home {
  padding-bottom: 2px;
}

.personal-data__input--id {
  padding-bottom: 2px;
}

.personal-data__input::placeholder {
  color: @textColorThrough;
}

.persoanl-data__input-avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  top: 0;
  left: 0;
}

.personal-data__avatar-img {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 50%;

  @media (min-width: @bg-width) {
    width: 120px;
    height: 120px;
  }
}

.personaml-data__label-avatar {
  font-size: 18px;
  line-height: 30px;
  color: @noActiveCalendar;
  text-decoration-line: underline;
  margin: 0 0 0 20px;
}

.personal-data__change-link {
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.4);

  @media (min-width: @xs-width) {
    margin-left: 18px;
  }
}

.personal-data__break-title {
  display: block;
  flex-basis: 100%;
  height: 0;
}

.personal-data__break {
  display: block;
  flex-basis: 100%;
  height: 0;

  @media (min-width: @bg-width) {
    display: none;
  }
}

.personal-data__out {
  display: block;
  width: 100%;
  background-color: @bgMenu;
  color: @textColor;
  cursor: pointer;
  font-family: "GothamPro", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  box-sizing: border-box;
  margin: 40px 0 0 0;

  @media (min-width: @xs-width) {
    margin-top: 61px;
  }

  @media (min-width: @sm-width) {
    width: 290px;
  }

  @media (min-width: @md-width) {
    display: none;
  }
}
