.profile {
  padding-top: 58px;

  @media (min-width: @md-width) {
    padding-top: 42px;
  }

  @media (min-width: @gg-width) {
    padding-top: 81px;
  }
}

.profile__container {
  @media (min-width: @md-width) {
    display: flex;
    box-sizing: border-box;
    padding-left: 40px;
  }

  @media (min-width: @bg-width) {
    padding-left: 70px;
  }
}

.profile__personal-data {
  display: none;
}
