.tickets {
  padding: 0 0 78px 0;

  @media (min-width: @xs-width) {
    padding: 0 0 98px 0;
  }

  @media (min-width: @md-width) {
    padding: 0 0 119px 0;
  }

  @media (min-width: @bg-width) {
    padding: 0 0 148px 0;
  }

  @media (min-width: @gg-width) {
    padding: 0 0 212px 0;
  }
}

.tickets__container {
  padding-top: 30px;

  @media (min-width: @xs-width) {
    padding-top: 40px;
  }

  @media (min-width: @bg-width) {
    padding-left: 74px;
  }
}

.tickets__event {
  padding-top: 37px;

  @media (min-width: @md-width) {
    padding-top: 53px;
  }
}

.tickets__order-data {
  padding-top: 56px;

  @media (min-width: @xs-width) {
    padding-top: 37px;
  }

  @media (min-width: @sm-width) {
    padding-top: 37px;
  }

  @media (min-width: @md-width) {
    padding-top: 64px;
  }

  @media (min-width: @bg-width) {
    padding-top: 62px;
  }
}
