.tickets {
  padding: 0 0 78px 0;

  @media (min-width: @xs-width) {
    padding: 0 0 98px 0;
  }

  @media (min-width: @md-width) {
    padding: 0 0 119px 0;
  }

  @media (min-width: @bg-width) {
    padding: 0 0 148px 0;
  }
}
