.time-table {
  padding: 0 0 77px 0;

  @media (min-width: @xs-width) {
    padding: 0 0 96px 0;
  }

  @media (min-width: @sm-width) {
    padding: 0 0 116px 0;
  }

  @media (min-width: @bg-width) {
    padding: 0 0 144px 0;
  }
}

.time-table__title {
  margin: 0;
  padding: 0 0 23px 0;
  font-family: "NeueMachina", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: @textColor;

  @media (min-width: @xs-width) {
    font-size: 30px;
    line-height: 34px;
    padding: 0 0 42px 0;
  }

  @media (min-width: @sm-width) {
    font-size: 36px;
    line-height: 41px;
    padding: 0 0 44px 0;
  }

  @media (min-width: @bg-width) {
    padding: 0 0 59px 4px;
  }

  @media (min-width: @gg-width) {
    font-size: 50px;
    line-height: 57px;
  }
}

.time-table__event-list {
  list-style-type: none;
  margin: 13px 0 0 0;
  padding: 0;
  overflow: hidden;
  display: flex;

  @media (min-width: @xs-width) {
    margin: 42px 0 0 5px;
  }

  @media (min-width: @sm-width) {
    margin: 30px 0 0 0;
  }

  @media (min-width: @md-width) {
    margin: 36px 0 0 0;
  }

  @media (min-width: @bg-width) {
    margin: 30px 0 0 0;
    padding-left: 5px;
  }
}

.time-table__event-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 479px;
  padding: 0 25px 25px 28px;
  position: relative;
  z-index: 1;

  @media (min-width: @xs-width) {
    min-height: initial;
    min-width: 419px;
    height: 490px;
    padding: 25px;
  }

  @media (min-width: @sm-width) {
    min-width: 328px;
    height: 476px;
  }

  @media (min-width: @md-width) {
    min-width: 370px;
    height: 420px;
  }

  @media (min-width: @bg-width) {
    min-width: 410px;
    height: 487px;
  }

  @media (min-width: @gg-width) {
    min-width: 420px;
    height: 524px;
  }
}

.time-table__event-item:not(:last-child) {
  @media (min-width: @xs-width) {
    margin-right: 31px;
  }

  @media (min-width: @bg-width) {
    margin-right: 30px;
  }
}

.time-table__event-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.time-table__event-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}


.time-table__event-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: @textColor;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.time-table__date {
  font-size: 18px;
  line-height: 30px;
  color: @textColorThrough;
  margin: 11px 0 0 0;
  z-index: 1;
}

.time-table__wrapper {
  z-index: 1;
  margin: 24px 0 0 0;

  @media (min-width: @xs-width) {
    display: flex;
    justify-content: space-between;
  }
}

.time-table__buy-ticket {
  font-size: 18px;
  line-height: 30px;
  color: @textColor;
  text-decoration: none;
  display: inline-block;
  padding: 15px 19px;
  box-sizing: border-box;
  border: 1px solid @textColor;
  margin-right: 18px;

  @media (min-width: @xs-width) {
    margin: 0;
  }

  @media (min-width: @sm-width) {
    margin-right: 0;
  }
}

.time-table__more {
  font-size: 18px;
  line-height: 17px;
  color: @textColor;

  @media (min-width: @xs-width) {
    margin: 24px 0 0 0;
  }

  @media (min-width: @sm-width) {
    margin-left: auto;
  }
}

.time-table__button-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;

  @media (min-width: @xs-width) {
    margin: 21px 0 0 0;
  }

  @media (min-width: @sm-width) {
    margin: 17px 0 0 0;
  }

  @media (min-width: @md-width) {
    margin: 19px 0 0 0;
  }

  @media (min-width: @bg-width) {
    margin: 30px 0 0 0;
  }
}

.time-table__button-item:first-child {
  margin-right: 4px;
}

.time-table__button {
  width: 75px;
  height: 66px;
  background-color: @bgMenu;
  display: block;
  padding: 0;
  border: none;

  @media (min-width: @xs-width) {
    width: 117px;
    height: 103px;
  }

  @media (min-width: @sm-width) {
    width: 103px;
    height: 103px;
  }

  @media (min-width: @sm-width) {
    width: 134px;
    height: 133px;
  }
}

.time-table__prev,
.time-table__next {
  background-repeat: no-repeat;
  background-position: center;
}

.time-table__prev {
  background-image: url("../img/prev.svg");

  @media (min-width: @xs-width) {
    background-image: url("../img/prev600.svg");
    background-size: 31px 15px;
  }

  @media (min-width: @md-width) {
    background-image: url("../img/prev1024.svg");
    background-size: 37px 16px;
  }
}

.time-table__next {
  background-image: url("../img/next.svg");

  @media (min-width: @xs-width) {
    background-image: url("../img/next600.svg");
    background-size: 31px 15px;
  }

  @media (min-width: @md-width) {
    background-image: url("../img/next1024.svg");
    background-size: 37px 16px;
  }
}
